
table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

thead tr {
    height: 50px;
    background-color: #3f3f3f;
    color: white;
    border-right: solid 1px #3f3f3f;
}

tbody {
    border-left: solid 1px #3f3f3f;
}

tbody tr {
    height: 40px;
    border-bottom: solid 1px #3f3f3f;
}

tbody tr td {
    border-right: solid 1px #3f3f3f;
}