<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <link href="/css/login.css" type="text/css" rel="stylesheet">
  
  <title>登录</title>
</head>
<body>

  <div id="container">
    <form>
      <h1>集成教务系统</h1>
      <input type="text" placeholder="学号" id="id">
      <input type="password" placeholder="密码" id="password">
      <button id="login-btn" type="button">登录</button>
    </form>
  </div>
  
  <script src="/js/login.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>